<div class="container-fluid">
  <div class="row">
    <div class="col text-center login-header">
      Login with username / password
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label>
        Username
      </label>
      <input class="form-control">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <label>
        Password
      </label>
      <input class="form-control">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary-dark btn-block btn-sm"> Login </button>
    </div>
  </div>

  <hr class="my-5"/>
  <div class="row">
    <div class="col text-center login-header">
      Login via Oauth
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-outline-primary-dark btn-block"> <img src="../../../assets/msft.png" class="oauth_btn"/> </button>
    </div>
  </div>

  <hr class="my-5"/>
  <div class="row">
    <div class="col text-center login-header">
      Login with Test Account
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-outline-primary-dark btn-block btn-lg" [routerLink]="['/dashboard/sammamish_animal_shelter']"> Test as Sammamish Animal Sanctuary </button>
    </div>
  </div>

</div>
