<div class="container-fluid">
  <div class="row mt-5 justify-content-center">
    <div class="col-4">
      <input type="file" id="file" name="file" multiple hidden (change)="selecteFiles($event)"/>
      <label class="btn btn-lg btn-primary btn-block" for="file">
        Select Images to Detect
      </label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <div *ngFor="let file of files">
        {{file.name}}
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <button class="btn btn-sm btn-outline-primary btn-block" (click)="test()"> Test </button>
    </div>
  </div>
  <hr/>
  <div class="row mt-2 flex-column" *ngFor="let key of getKeys()">
    <div class="col-4">
      {{key}}
    </div>
    <div class="col-4" *ngFor="let prob of map[key]">
      <app-animal-info [_animal]="prob.value" [min]="true" [probability]="prob.key"></app-animal-info>
    </div>
  </div>
</div>
