<div class="card" *ngIf="animal != null">
  <img class="card-img-top" [src]="animal.img" alt="Card image cap">
  <div class="card-header text-center bg-primary-light">
    <b>{{animal.name}}</b>
  </div>
  <div class="card-body">
    <div [ngClass]="{'min':min}"><label class="mt-4">
      Type</label>
    <div>{{animal.type}}</div>
    <hr/>
    <label  class="mt-4">
      Description</label>
    <div>{{animal.description}}</div>

    <div *ngIf="!min"><label  class="mt-4">
      <hr/>
      Age</label>
    <div>{{animal.age}}</div>
    <hr/>

    <label  class="mt-4">
      Height</label>
    <div>{{animal.height}}</div>
    <hr/>

    <label  class="mt-4">
      Weight</label>
    <div>{{animal.weight}}</div>
    <hr/>

    <label  class="mt-4">
      Seen By</label>
    <div>{{animal.hitCount}}
    </div></div>
</div>
   <div *ngIf="hasDelete"> <button class="btn btn-danger btn-block btn-sm">
     Delete
   </button></div>

  </div>
</div>
